* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', sans-serif;
}

.Componentes {
    background-color: #00211D;
    width: 100vw; /*Viweport Width*/
    height: 100vw; /*Viewport Height*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tarjeta {
    background-image: linear-gradient(to bottom right, rgb(1, 132, 109, 1), rgb(208, 51, 247, 1));
    padding: 32px 32px;
    border-radius: 32px;
    box-shadow: 0px 0px 20px #000000;
    display: flex;
    flex-direction: column; /*Cambia el eje principal (x 0 horizontal) por (Y = vertical)*/
    justify-content: center; /*Eje principal (Y = Vertical)*/
    align-items: center; /*Eje secundario (X = Horizontal)*/
    gap: 16px;


}

.nombre {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    font-family:'Trebuchet MS', sans-serif;

}

.boton {
    display: inline-block;
    background-color: #fff;
    padding: 16px 32px;
    border-radius: 16px;
    font-weight: bolder;
    font-size: 20px;
    color: #32C1FF;
    text-decoration: none;
    transition: 0.4s ease-in-out;



}

.boton:hover {
    background-color: #12b8ff;
    color: #ffffff;
}